body {
    font-family: "Segoe UI";
    background-color: #e4e4e4;
    text-transform: uppercase;
}

h1 {
    color: #253237;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #253237;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 35px auto;
    text-align: center;
    background-color: #e4e4e4;
    border-radius: 4px;
    border: 1px solid #253237;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

tr,
th {
    background-color: #F5F5F5;
    border: 1px solid #253237;
}

td {
    border: 1px solid #253237;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.botao-azul {
    color: #F5F5F5;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: 180px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #253237;
    box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.30);
}

.botao-azul.addComodo {
    margin-top: 48px;
    margin-left: 100px;
}

.botao-azul.add {
    grid-column: span 2;
    margin: 0 auto;
    margin-top: 32px;
}


button {
    border: none;
    background: none;
    cursor: pointer;
}


a {
    color: #253237;
    padding: 0px 20px;
    font-family: "Segoe UI";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

a.active {
    font-weight: 600;
    border-bottom: 4px solid #253237;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 56px 100px 0px;
}

.logo {
    width: 24px;
    height: 24px;
}

hr {
    margin: 0px;
    height: 2px;
    background-color: #253237;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    width: 900px;
    height: auto;
    border-radius: 4px;
    background: #F5F5F5;
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.close {
    color: #253237;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    background: #D9D9D9;
    border: none;
}

input:focus {
    background-color: #F5F5F5;
    outline: 2px solid #D9D9D9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#errorMessage {
    color: #964b45;
    justify-content: center;
    height: auto;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.information {
    margin-left: 50px;
    font-size: 11px;
    grid-column: span 2;
}

#confirmationModal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

#confirmationModal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    max-width: 400px;
    text-align: center;
    height: auto;
}

#confirmationModal p {
    margin-bottom: 20px;
}

#confirmationModal button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
}

#confirmationModal button#confirmYes {
    background-color: #507251;
    color: white;
}

#confirmationModal button#confirmNo {
    background-color: #964b45;
    color: white;
}

#confirmationModal button:hover {
    opacity: 0.8;
}